body
{
    background-color: #1a1a1a;
    color: #f0f0f0;
    font-family: 'Arial', sans-serif;
}

header{
    text-align: center;
}
div.grid div
{
    background-color: #333333;
    padding: 30px;
    border: 2px solid #555555;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid div svg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.cell-text{

    position: relative;
    z-index: 2;
}
.grid div .dice-svg{
    display: none;
    position: absolute;
    pointer-events: none;
    
}

.grid
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 30px;
    width: 330px;
    color: transparent;
    user-select: none;
}

#roll-button
{
    width: 330px;
    height: 50px;
    font-size: 23px;
}
.score
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 330px;                          
    text-align: center;                  
    margin-top: 10px;
    user-select: none;
}
#bot-total
{
    user-select: none;
}
#player-total
{
    user-select: none;
}
.rules-text
{
    margin-left: 90px;
}
a
{
    font-family: Arial Black, sans-serif;
    font-size: 100%;
    color: #d90429;
    font-family: 'Arial Black', sans-serif;
    text-decoration: none;
}

.sqs-block-button-element--medium {
  background: #d90429
  color: #f0f0f0
  transition: background 0.9s ease, color 0.9s ease 
}

/* Stan po najechaniu myszką */
.sqs-block-button-element--medium:hover {
  background: #817966 
  color: #F6F3EC 
}
